{
	"accounts":[{
		"username": "yourname@emaildomain.com",
		"password": "YourStrongPassword1!"	
	}],
	"rewards":[
		{
			"title": "1 Month of Xbox Game Pass for PC",
			"cost": "10000",
			"discounted": "6800"
		},
		{
			"title": "$10 Xbox Gift Card",
			"cost": "10000",
			"discounted": "9300"
		},
		{
			"title": "1 Month of Xbox Game Pass Ultimate",
			"cost": "14000",
			"discounted": "12000"
		}
	]
}
